body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/Background3.webp') center center no-repeat;
    background-size: cover;
    z-index: -1; /* Ensure the background is behind other content */
    display: block;
}

.background {
    position: relative; /* Ensure child elements are positioned relative to this */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 50px;
}

.menu-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s; 
}

.menu a:hover {
    color: #f6d29b; 
}

.main-content ul {
    list-style: none;
    padding-left: 0;
    color: white; 
}

.main-content ul li {
    margin-bottom: 10px;
    color: white; 
    position: relative; 
    padding-left: 16px; 
}

.main-content ul li::before {
    content: "– "; 
    color: #f6d29b; 
    position: absolute; 
    left: 0; 
    top: -1px; 
}

.main-content a {
    color: #f6d29b;
    transition: color 0.3s; 
}
.main-content a:active {
    color: #7d533d; 
}

.container {
    background-color: #1d1d1d;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2% 2% 2%;
    flex-grow: 1; 
    margin: 0; 
    border-radius: 10px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    padding-top: 40px;
}

.left-section img {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    border-radius: 10px;
}

.right-section h1 {
    margin: 0;
    font-size: 36px;
    color: #f6d29b;
}

.right-section p {
    margin-top: 20px;
    color: white;
    line-height: 1.6;
}

@media (max-width: 800px) {
    .main-content {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        text-align: center;
    }
}
